.blog-container {
	margin: 30px;
}

.main-article img {
	width: 300px;
}

.other-article img {
	width: 200px;
}

.main-article,
.other-article {
	margin: 30px;
}

#readMore {
	display: none;
	margin-left: 20px;
}

.article-holder button {
	margin-left: 20px
}

@media (min-width: 650px) {

	.main-article,
	.other-article {
		display: flex;
	}

	.text {
		margin-left: 20px;
	}

	.other-article .text {
		font-size: 16px;
	}
}

@media (min-width: 860px) {
	.container.blog {
		padding: 10px;
		margin: 0px auto 0 auto;
	}
}