html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}



body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    margin: 0;
    min-width: 390px;
    background-color: #fcfbff;
}

#kontejner {
    position: relative;
}

.logo {
    font-family: 'Pacifico', cursive;
}

.info {
    display: none;
}

.hamburger {
    padding-left: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#menu {
    display: none;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    background-color: white;
    position: absolute;
    top: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

#menu li {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover,
#menu a:focus {
    color: #e9d699;
}

.header,
#menu {
    background: rgba(19, 22, 21);

}

.horni_lista {
    padding-left: 20px;
    display: flex;
    min-width: 400px;
    align-items: center;
    box-shadow: inset 20px 20px 34px -43px rgba(0, 0, 0, 0.56);

}

.logo {
    margin: 0;
    padding-left: 30px;
    padding: 20px;
    font-size: 30px;
    flex-wrap: nowrap;
    position: relative;
}

.logo a {
    text-decoration: none;
    color: #e9d699;
}

.logo-white {
    color: white;
}

.logo img {
    position: absolute;
    top: 25px;
}


@media (min-width: 1000px) {
    #menu {
        display: flex;
        min-width: 300px;
        max-width: 800px;
        padding: 0px;
        list-style-type: none;
        margin: 0;
        box-shadow: none;
        text-align: center;
        font-size: 16px;
        right: 0;
        line-height: 18px;
        position: absolute;
        top: 30px;
    }

    .bar1,
    .bar2,
    .bar3,
    .hamburger {
        display: none;
    }
}