#app {
  width: 100%;
  padding: 50px;
  text-align: center;
  color: black;
}

#app h1 {
  text-align: center;
}

.date,
.time,
.activity,
.card {
  padding: 10px;
}

input,
select {
  padding: 5px;
}

input[type="checkbox"] {
  width: 30px;
}

/*body {
  background-image: url(images/blurred-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#cover-photo {
  height: 500px;
  background-image: url(images/gym.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-cover-photo {
  padding: 30px;
  padding-top: 150px;
  color: white;
}


.object-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: black;
  text-align: center;
}

.object-container a {
  text-decoration: none;
}

.object-container p {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

.object {
  height: 150px;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 16px;
}

.pink {
  background: rgb(244, 124, 121) none repeat scroll 0% 0%;
}

.green {
  background: rgb(100, 195, 158) none repeat scroll 0% 0%;
}

.yellow {
  background: rgb(215, 190, 95) none repeat scroll 0% 0%;
}

.pea {
  background: rgb(161, 190, 95) none repeat scroll 0% 0%;
}

.hlavnimenu img {
  border-radius: 50%;
}

input,
select
 {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  height: 35px;
}

button {
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(100, 195, 158);
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: white;

}

input[type="checkbox"]:checked {
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
}

input[type="checkbox"]:checked::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  color: #333;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
}

input.largerCheckbox {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 5px;
}

hr {
  width: 50%;
}

.icon {
  border-radius: 50%;
  border: 3px solid white;
  padding: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

/* zobrazeni pro tablet */
@media (min-width: 650px) {
  .first-col {
    display: flex;
    margin-bottom: 20px;
  }

  .second-col {
    display: flex;
  }

  .pink,
  .yellow {
    margin-right: 20px;
  }

  .text-cover-photo {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* zobrazení pro notebook/pc: */
@media (min-width: 860px) {
  .container {
    width: 960px;
    background-color: white;
    margin: -80px auto 0 auto;
    box-shadow: 0 0 8px 1px rgba(140, 138, 140, 1);
    position: relative;
    z-index: 1;
  }

  .object-container {
    padding-bottom: 50px;
  }

  p.object-text {
    width: 50%;
  }
}